<nav class="navbar navbar-inverse">
  <div class="container">
  <div class="nav navbar-nav navbar-header">
    <%= link_to t(".sample_app"), root_path, id: "logo" %>
  </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to t(".home"), root_path %></li>
      <li><%= link_to t(".help"), help_path %></li>
      <% if logged_in? %>
        <li><%= link_to t(".users"), users_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t ".account" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
<<<<<<< HEAD
            <li><%= link_to t(".settings"), "#" %></li>
=======
            <li><%= link_to t(".settings"), edit_user_path(current_user) %></li>
>>>>>>> updating-users
            <li class="divider"></li>
            <li>
              <%= link_to t(".log_out"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t(".log_in"), login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
